TestWS/test.wsdl

<?xml version='1.0' encoding='UTF-8' ?>
<wsdl:definitions name="HelloWorld"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    
    <wsdl:message name="helloRequest">
        <wsdl:part name="name" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="helloResponse">
        <wsdl:part name="result" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="goodbyeRequest">
        <wsdl:part name="name" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="goodbyeResponse">
        <wsdl:part name="result" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="sommeRequest">
        <wsdl:part name="a" type="xsd:int"/>
        <wsdl:part name="b" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="sommeResponse">
        <wsdl:part name="result" type="xsd:int"/>
    </wsdl:message>
    	
    <wsdl:portType name="helloPortType">
        <wsdl:operation name="hello">
            <wsdl:input message="tns:helloRequest"/>
            <wsdl:output message="tns:helloResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="goodbyePortType">
        <wsdl:operation name="goodbye">
            <wsdl:input message="tns:goodbyeRequest"/>
            <wsdl:output message="tns:goodbyeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="sommePortType">
        <wsdl:operation name="somme">
            <wsdl:input message="tns:sommeRequest"/>
            <wsdl:output message="tns:sommeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="helloBinding" type="tns:helloPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="hello">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#hello"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="goodbyeBinding" type="tns:goodbyePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="goodbye">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#goodbye"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="sommeBinding" type="tns:sommePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="somme">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#somme"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="helloService">
        <wsdl:port name="helloPort" binding="helloBinding">
            <soap:address location="http://127.0.0.1/github/PGROU/TestWS/server.php"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="goodbyeService">
        <wsdl:port name="goodbyePort" binding="goodbyeBinding">
            <soap:address location="http://127.0.0.1/github/PGROU/TestWS/server.php"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="sommeService">
        <wsdl:port name="sommePort" binding="sommeBinding">
            <soap:address location="http://127.0.0.1/github/PGROU/TestWS/server.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>