MooWSe/MooWSe.wsdl

<?xml version='1.0' encoding='UTF-8' ?>
<wsdl:definitions name="MooWSe"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:message name="authenticateResponse">
		<wsdl:part name="token" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="getWSDLRequest">
		<wsdl:part name="service" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="getWSDLResponse">
		<wsdl:part name="wsdl" type="xsd:string"/>
	</wsdl:message>
        <wsdl:message name="getClientNameRequest">
		<wsdl:part name="wsdl" type="xsd:string"/>
	</wsdl:message>
        <wsdl:message name="getClientNameResponse">
		<wsdl:part name="wsdl" type="xsd:string"/>
	</wsdl:message>
	<wsdl:portType name="MooWSePortType">
		<wsdl:operation name="authenticate">
			<wsdl:output message="tns:authenticateResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getWSDL">
			<wsdl:input message="tns:getWSDLRequest"/>
			<wsdl:output message="tns:getWSDLResponse"/>
		</wsdl:operation>
                <wsdl:operation name="getClientName">
			<wsdl:input message="tns:getClientNameRequest"/>
			<wsdl:output message="tns:getClientNameResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MooWSeBinding" type="tns:MooWSePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="authenticate">
			<soap:operation soapAction="urn:xmethods-delayed-quotes#authenticate"/>
			<wsdl:input>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getWSDL">
			<soap:operation soapAction="urn:xmethods-delayed-quotes#getWSDL"/>
			<wsdl:input>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</wsdl:output>
		</wsdl:operation>
                <wsdl:operation name="getClientName">
			<soap:operation soapAction="urn:xmethods-delayed-quotes#getWSDL"/>
			<wsdl:input>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MooWSeService">
		<wsdl:port name="MooWSePort" binding="MooWSeBinding">
			<soap:address location="http://localhost/github/PGROU/MooWSe/index.php"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>